@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  margin: 20px 30px 0px 0px;
}

.top-bar img {
  width: 40px;
  border-radius: 50%;
}

.top-bar-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-bar-items a {
  text-decoration: none;
}

.top-bar-items a:visited {
  color: black;
}

.bottom-bar {
  width: 100%;
  background-color: #f1eff1;
}

.bottom-bar-country {
  display: flex;
  padding: 10px;
  border-top: solid 1px #d6d6d6;
}

.bottom-bar-country p {
  color: gray;
}

.bottom-bar-options {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: solid 1px #d6d6d6;
}

.bottom-bar-options a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

.bottom-bar-options a:visited {
  color: rgb(75, 75, 75);
}

.bottom-bar-left a {
  padding-right: 15px;
}

.bottom-bar-right a {
  padding-left: 15px;
}

.search-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.search-bar {
  width: 30%;
  min-width: 440px;
  height: 42px;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 30px;
  padding-left: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.search-bar:focus {
  outline: none;
}

.search-buttons button {
  border: none;
  padding: 12px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.search-buttons button:hover {
  border: 1px solid #d6d6d6;
  padding: 11px;
}

.apps-menu {
  display: flex;
  flex-wrap: wrap;
  width: 376px;
  background-color: #f1eff1;
  border: solid 1px #d6d6d6;
  position: absolute;
  right: 0;
  border-radius: 30px;
  margin-top: 70px;
  margin-right: 30px;
  padding: 20px;
  gap: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.app-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 90px;
  height: 90px;
  background-color: white;
  border: solid 1px #d6d6d6;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.app-box:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app-box span {
  font-size: 40px;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.disable-select {
  user-select: none;
}

@media (max-width: 767px) {
  .top-bar-items {
    gap: 30px;
  }

  .search-bar {
    width: 70%;
    min-width: 0px;
  }

  .bottom-bar-left,
  .bottom-bar-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .bottom-bar-right {
    text-align: right;
  }

  .apps-menu {
    width: 244px;
  }
}
